html{
    overflow-x: hidden;
    overflow-y: auto;
    cursor: cell;

    margin: 0 auto;
}

header{
    height: 15vh;
    position: sticky;
    z-index: 999;

}
.home-btn {
    position: absolute;
    left:10px;
    top:10px;
    z-index: 999;


    height: 75px;
    width: auto;
}


body {
    margin: 0;
    padding: 10px;
    /*background-image: url("../greenGrid.jpg");*/
    background-image: url("greenGrid.jpg");
}


button {
    z-index: 20;
    position: relative;
    margin: 0 auto;

    border: none;
    background-color: rgba(255, 255, 255, 0%);
    font-family: "Darumadrop One", monospace;
    cursor: pointer;
}


.footer{
    position: relative;
    width: 100%;
    background-color: pink;
    padding: 20px;

    bottom: 0;
}

.footer img{
    width: 10%;
}