/*CSS STYLE GUIDE {
   P
      (position
       display
       margin
       left, right, top, bottom
       transform)

   SIZING
      (width
       height)

   STYLING
       (background-color
        opacity)
}*/
html{
    cursor: cell;
}
header{
    height: 10vh;
    position: sticky;
    /*background-color: pink;*/
}
.home-btn {
    position: absolute;
    left:10px;
    top:10px;

    height: 75px;
    width: auto;
}

body {
    margin: 0;
    padding: 10px;
    background-color: pink;
    /*background-color: pink;*/
}

#container{
    /*position: absolute;*/
    /*display: inline-block;*/

    width: 100vw;
    height: 100vh;

    /*background-color: red;*/
}
.title{
    width: 40vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

/*.person{*/
/*    position: absolute;*/
/*    z-index: -10;*/
/*    left: 50vw;*/
/*    margin: 0 auto;*/
/*    transform: translateX(-50%);*/

/*    height: 60vh;*/

/*}*/

.closet {
    position: absolute;
    display: block;
    left: 50vw;
    margin: 0 auto;
    transform: translateX(-50%);

    width: 20vw;
    height: fit-content;
    /*max-height: 100vh;*/

}
.spacer{
    height: 5vh;
    width: 100%;
}

.shirts{
    height: fit-content;
    width: 100%;
}
.pantss {
    background-color: white;
    height: fit-content;
    width: 100%;
}

.hat img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 35%;
    height: auto;
}

.clothes img{
    position: relative;

    width: 100%;
    height: auto;
}

button {
    z-index: 20;
    position: relative;
    cursor: pointer;

    width: 75px;

    border: none;
    background-color: rgba(255, 255, 255, 0%);
    font-family: "Darumadrop One", monospace;
}
.arrow {
    width: 100%;
}
.changer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    padding-bottom: 2em;
}

.pants {

}

img {
    z-index: 10;
}


.icon {
    width: 150px;
}

.bg{
    position: absolute;
    z-index: -10;
    width: 50vw;
    height: 100%;

    top: 10vh;
    left: 50%;
    transform: translateX(-50%);

    background-image: url("../greenGrid.jpg");
}




#mydiv {
    position: absolute;
    z-index: 9;

    width: 350px;

    background-color: #B2BD8C;
    border: 5px solid black;
    text-align: center;
    font-family: "Darumadrop One", monospace;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;

    background-color: #B2BD8C;
    border-bottom: 5px solid black;
    font-family: "Darumadrop One", monospace;
    color: black;
}

.control-panel{
    width: 70%;
}

.shoes{
    position: relative;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/

    width: 35%;
    height: auto;
}